@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #8A0000;
  --primary-color-2: #620000;
  --secundary-color: #FFA500;
  --text-especial-color: #FF4136;

  --primary-font: 'karla', sans-serif;
  --especial-font: 'Pacifico', cursive;
}

body {
  background-color: #EAEAEA;
}

.max-width-page-limit {
  max-width: 1180px;
  padding: 0 40px;
  margin: 0 auto;
}

// Cabeçalho / Header

header {
  width: 100%;
  height: 64px;
  background-color: #fff;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  position: sticky;

  font-family: var(--primary-font);

  li {
    list-style: none;
  }

  .header-distribuition {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo-and-nav {
      height: 100%;
      gap: 30px;
      display: flex;
      align-items: center;
      
      > ul {
        height: 100%;
        display: flex;
        gap: 20px;

        li {
          height: 100%;
          display: flex;
          align-items: center;
        }
      }

      > a img {
        height: 31px;
      }
    }
  }
}

// Corpo da página / Main

main {
  width: 100%;
  
  .main-content {
    background-color: bisque;
    padding: 40px;
  }
}

// Rodapé / footer

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  > img {
    max-width: 1100px;
    padding: 0 40px;
    margin: 0 auto;
  }
  
  .footer-content {
    width: 100%;
    background-color: var(--primary-color-2);
    
    .background-footer {
      background-color: var(--primary-color);
    }
  }

}