@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
main div.apresentation-section {
  width: 100%;
  min-height: 500px;
  display: flex;
  align-items: center;
}
main div.apresentation-section div.apresentation-text {
  font-family: "karla", sans-serif;
  flex: 1;
}
main div.apresentation-section div.apresentation-text span.apresentation-mark {
  color: #FF4136;
  font-weight: 800;
}
main div.apresentation-section div.apresentation-text h1 {
  font-size: 2.4em;
  font-weight: 900;
  color: #FF4136;
  margin-bottom: 30px;
}
main div.apresentation-section div.apresentation-text p {
  line-height: 1.4em;
}
main div.apresentation-section div.svg-apresentation {
  flex: 1;
  display: flex;
  justify-content: end;
  align-items: center;
}
main div.apresentation-section div.svg-apresentation img {
  max-width: 450px;
}
main div.title-tag-section {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 18px 15px;
  background-color: #FFA500;
  font-family: "karla", sans-serif;
  font-size: 28px;
  font-weight: bolder;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}
main div.categoria-section {
  position: relative;
  z-index: 0;
}
main div.categoria-section div.categoria-icones {
  height: 280px;
  background-color: #8a0000;
  padding: 0 90px;
  display: flex;
  align-items: center;
  gap: 90px;
  overflow-x: auto;
}
main div.categoria-section div.categoria-icones > div {
  min-width: 176px;
  height: 168px;
  background-color: #FFA500;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: opacity ease-in-out 0.3s;
}
main div.categoria-section div.categoria-icones > div > p {
  font-family: "karla", sans-serif;
  font-size: 18px;
  font-weight: 900;
  color: #fff;
}
main div.categoria-section div.categoria-icones > div > div {
  padding: 15px;
  border-radius: 50%;
  background-color: #fff;
}
main div.categoria-section div.categoria-icones > div:hover {
  opacity: 0.7;
}
main div.categoria-section div.categoria-icones::-webkit-scrollbar {
  background-color: #C27D00;
  height: 10px;
}
main div.categoria-section div.categoria-icones::-webkit-scrollbar-thumb {
  background-color: #FFA500;
}
main div.categoria-section div.categoria-wave {
  max-width: 1366px;
  height: auto;
  margin: 0 auto;
  background-color: #fff;
}
main div.categoria-section div.categoria-wave > img {
  width: 100%;
}
main div.categoria-section div.categoria-wave > img.first-wave {
  margin-bottom: -5px;
}
main div.categoria-section div.categoria-wave > img.last-wave {
  transform: rotate(180deg);
  z-index: 0;
}
main div.como-pedir {
  position: relative;
  width: 100%;
  margin: 100px 0;
  padding: 50px 0;
}
main div.como-pedir > p.sign-staps {
  font-family: "karla", sans-serif;
  font-style: italic;
  font-size: 24px;
  text-align: center;
}
main div.como-pedir picture.como-pedir-passos-imagens {
  width: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
}
main div.como-pedir picture.como-pedir-passos-imagens img {
  max-width: 90%;
}
main div.container-destaque-with-tag {
  width: auto;
  height: auto;
}
main div.container-destaque-with-tag section.tag-destaque-restaurantes {
  position: relative;
  padding: 70px 0;
}
main div.container-destaque-with-tag div.background-faixa-destaque {
  max-width: 100%;
  height: 500px;
  background-color: #620000;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante {
  height: 100%;
  background-color: #8a0000;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "restaurante-destaque-1 restaurante-destaque-2 restaurante-destaque-3";
  justify-content: space-between;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card {
  width: 250px;
  height: 380px;
  background-color: #FFA500;
  padding: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card div.restaurante-card-image img {
  width: 100%;
  border-radius: 9px;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card div.name-restaurante-destaque h3 {
  text-align: center;
  font-family: "karla", sans-serif;
  font-size: 24px;
  font-weight: 900;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card div.restaurante-destaque-categorias {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card div.restaurante-destaque-categorias a.restaurante-categoria-icone {
  width: 55px;
  height: 55px;
  background-color: #620000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: box-shadow 0.5s, transform 0.5s;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card div.restaurante-destaque-categorias a.restaurante-categoria-icone img {
  width: 70%;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card div.restaurante-destaque-categorias > a.destaque-restaurante-categoria-icone {
  width: 80px;
  height: 80px;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-card div.restaurante-destaque-categorias > a:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: translateY(-4px);
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-1 {
  grid-area: restaurante-destaque-1;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-2 {
  grid-area: restaurante-destaque-2;
  scale: 1.6;
}
main div.container-destaque-with-tag div.background-faixa-destaque div.primary-background-destaque-restaurante section.destaque-restaurante-container div.restaurante-destaque-3 {
  grid-area: restaurante-destaque-3;
}
main div.sobre-nos-section {
  width: 100%;
  height: auto;
  background-color: #620000;
  font-family: "karla", sans-serif;
  color: #fff;
}
main div.sobre-nos-section div.sobre-nos-background {
  background-color: #8a0000;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container h2, main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container h3 {
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  color: #FFA500;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-title {
  width: 100%;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-title h2 {
  font-size: 32px;
  text-align: center;
  padding: 30px;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-layout-container {
  display: grid;
  grid-template-areas: "sobre-nos-quem-somos sobre-nos-image" "sobre-nos-objetivo sobre-nos-image";
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-layout-container span.sobre-nos-text-destaque {
  color: #FFA500;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-quem-somos {
  grid-area: sobre-nos-quem-somos;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-objetivo {
  grid-area: sobre-nos-objetivo;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-image {
  grid-area: sobre-nos-image;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-content h3 {
  font-size: 28px;
  text-align: center;
  margin-bottom: 32px;
}
main div.sobre-nos-section div.sobre-nos-background section.sobre-nos-container div.sobre-nos-content p {
  margin-bottom: 20px;
  line-height: 1.4em;
}

/*# sourceMappingURL=index.css.map */
