@import url('./sass/variables.css');

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    max-width: 100%;
}

main {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main_content {
    width: 1100px;
    padding: 40px;
}


.pd-left-16 {
    padding-left: 34px;
}

.text_start {
    text-align: left;
}

.main_content form {
    align-items: center;
}


.divdoform {
    display: flex;
    justify-content: center;
}

form.form-login {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 286px;
    justify-content: space-around;
}

.form_align {
    display: flex;
    flex-direction: column;
}

.divdoform button.btn_logar {
    max-width: 100%;
    width: 200px;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
}

.btn_criarconta {
    width: 200px;
    border-radius: 10px;
    background-color: var(--secundary-color);
    color: white;
    font-weight: bold;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn_loginempresa {
    background-color: var(--text-especial-color);
    width: 200px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

input {
    width: 248px;
    height: 45px;
    border: 0px;
    border-radius: 100px;
    padding: 0px 12px;
}

.cor {
    background-color: #cecece;
}

label.style_label {
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}

a.style_link {
    text-decoration: none;
    color: var(--text-especial-color);
    text-align: center;
    font-weight: bold;
}

div.separador {
    display: flex;
    align-items: center;
}

div.separador hr {
    width: 120px;
    height: 1px;
    opacity: 1;
    background-color: black;
    border-radius: 10px;
}

div.separador span {
    margin: 10px;
}