@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
main picture.banner-delivery img {
  width: 100%;
}
main .resultado-busca {
  padding: 15px 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin-bottom: 30px;
}
main .resultado-busca span.busca {
  color: #FF4136;
  font-weight: bold;
}
main .produtos-main-container {
  font-family: "karla", sans-serif;
  width: 100%;
  display: grid;
  gap: 30px;
  grid-template-areas: "filtro filtro produtos produtos produtos produtos produtos produtos";
}
main .produtos-main-container .produtos-filtro {
  grid-area: filtro;
}
main .produtos-main-container .produtos-cards-lista {
  grid-area: produtos;
}
main .produtos-main-container .produtos-filtro {
  max-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}
main .produtos-main-container .produtos-filtro .filtros-container {
  position: sticky;
  top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
main .produtos-main-container .produtos-filtro .filtros-container .filtro-title {
  padding: 15px 20px;
}
main .produtos-main-container .produtos-filtro .filtros-container .filtro p, main .produtos-main-container .produtos-filtro .filtros-container .filtro a {
  padding: 10px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 0px;
  border-left: 0px;
  transition: background-color 0.5s;
  display: block;
  text-decoration: none;
  color: #000;
}
main .produtos-main-container .produtos-filtro .filtros-container .limpar-filtro {
  background-color: #3f3f3f;
}
main .produtos-main-container .produtos-filtro .filtros-container .limpar-filtro p, main .produtos-main-container .produtos-filtro .filtros-container .limpar-filtro a {
  color: #fff;
}
main .produtos-main-container .produtos-filtro .filtros-container .limpar-filtro:hover p, main .produtos-main-container .produtos-filtro .filtros-container .limpar-filtro:hover a {
  color: #000;
}
main .produtos-main-container .produtos-filtro .filtros-container .filtro:hover {
  cursor: pointer;
  background-color: #ebebeb;
}
main .produtos-main-container .produtos-cards-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}
main .produtos-main-container .produtos-cards-lista .card-produto {
  width: 250px;
  height: 350px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
main .produtos-main-container .produtos-cards-lista .card-produto .nome-image-restaurante .restaurante-name {
  margin-bottom: 10px;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante:hover .card-back {
  transform: rotateY(360deg);
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante:hover .card-front {
  transform: rotateY(180deg);
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante {
  width: 100%;
  height: 100%;
  margin-top: 25px;
  position: relative;
  cursor: pointer;
  transform-style: preserve-3d;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .card-front,
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .card-back {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.8s;
  backface-visibility: hidden;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .card-back {
  position: absolute;
  top: 0;
  transform: rotateY(180deg);
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .produto-nome-preco .produto-preco {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  color: #FFA500;
  background-color: #8a0000;
  border-radius: 5px;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .produto-nome-preco .produto-preco .tipo-preco {
  font-size: 18px;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .produto-nome-preco .produto-preco .valor-produto {
  font-weight: bolder;
  font-size: 26px;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .produto-nome-preco > h2 {
  color: #FF4136;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .card-back > p {
  width: 230px;
  max-height: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin-bottom: 10px;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .card-back > button {
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 100%;
  background-color: #FFA500;
  padding: 10px 0;
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.5s, scale 0.5s;
}
main .produtos-main-container .produtos-cards-lista .card-produto .informacoes-restaurante .card-back > button:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.25);
  scale: 1.15;
}

/*# sourceMappingURL=produtos.css.map */
